<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>GroupzIVR</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>for Ivr Inquiry</description>
		<servlet-name>Inquiry</servlet-name>
		<servlet-class>ivr.servlets.Inquiry</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inquiry</servlet-name>
		<url-pattern>/Inquiry</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>for Ivr Service Requests</description>
		<servlet-name>ServiceRequest</servlet-name>
		<servlet-class>ivr.servlets.ServiceRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceRequest</servlet-name>
		<url-pattern>/ServiceRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Record Request</description>
		<servlet-name>Record</servlet-name>
		<servlet-class>ivr.servlets.RecordCallServlet</servlet-class>
		 <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Record</servlet-name>
		<url-pattern>/Record</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>for Maintenance</description>
		<servlet-name>Maintenance</servlet-name>
		<servlet-class>ivr.servlets.SetMaintenance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Maintenance</servlet-name>
		<url-pattern>/Maintenance</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetInquiryDetailsList</display-name>
		<servlet-name>GetInquiryDetailsList</servlet-name>
		<servlet-class>ivr.servlets.GetInquiryDetailsList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetInquiryDetailsList</servlet-name>
		<url-pattern>/GetInquiryDetailsList</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<description></description>
		<display-name>GetRecordedAudio</display-name>
		<servlet-name>GetRecordedAudio</servlet-name>
		<servlet-class>ivr.servlets.GetRecordedAudioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecordedAudio</servlet-name>
		<url-pattern>/GetRecordedAudio</url-pattern>
	</servlet-mapping>
</web-app>