<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>GroupzConference</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TokBoxCallBackServlet</display-name>
    <servlet-name>TokBoxCallBackServlet</servlet-name>
    <servlet-class>com.servlets.TokBoxCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokBoxCallBackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionMonitoringServlet</display-name>
    <servlet-name>SessionMonitoringServlet</servlet-name>
    <servlet-class>com.servlets.SessionMonitoringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionMonitoringServlet</servlet-name>
    <url-pattern>/monitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TokBoxServlet</display-name>
    <servlet-name>TokBoxServlet</servlet-name>
    <servlet-class>com.servlets.TokboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokBoxServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>com.servlets.ConnectionServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
</web-app>