<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>GenOtp</display-name>
    <servlet-name>GenOtp</servlet-name>
    <servlet-class>com.groupz.servlets.GenOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenOtp</servlet-name>
    <url-pattern>/GenOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate</display-name>
    <servlet-name>validate</servlet-name>
    <servlet-class>com.groupz.servlets.validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOTP</display-name>
    <servlet-name>ValidateOTP</servlet-name>
    <servlet-class>com.groupz.servlets.ValidateOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOTP</servlet-name>
    <url-pattern>/ValidateOTP</url-pattern>
  </servlet-mapping>
</web-app>